.body {
  /* background-color:red; */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #ffb100;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  animation: colorChange 27s infinite;
  position: fixed;
}

@keyframes colorChange {
    0% {
        background-color: #e8cf30;
    }
    60% {
        background-color: #c94545;
    }
    100% {
        background-color: #e8cf30;
    }
}

#desktopbg {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

#mobilebg {
  display: none;
}

.divright {
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divleft {
  /* background-color: blue; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* <------screen-------> */
.screen {
  /* background-color: red; */
  align-items: center;
  padding-top: 10px;
  width: 40vw;
  height: 43vh;
  position: absolute;
  top: 28.8%;
  z-index: 2;
  transform: translate(0%, -16%) perspective(1500px) rotateX(-7.5deg) rotateY(-15deg) rotateZ(0deg) skew(-2deg, 0deg);
  transform-style: preserve-3d;
}

/* <-------Profiles--------> */
.card1 {
  min-width: 80%;
  height: 20%;
  border-radius: 1em;
  text-align: center;

  background: rgb(237 237 237 / 97%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 2.5%;
  margin: 0 10%;
}

.carousel-item {
  text-align: center;
  justify-content: center;
  height: 42vh;
  /* background-color: red; */
}

.card1 {
  height: 35vh;
  width: 80%;
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* <------Glassmorphism------> */
  background: white;
  padding: 2% 0 2% 4%;
  border-radius: 10px;


  background: rgb(237 237 237 / 97%);

  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* profile - css */


.carousel-control-next,
.carousel-control-prev {
  width: 9% !important;
  margin-bottom: 3rem !important;
}


.sanchit,
.anjali,
.nayan,
.raghav,
.manish,
.hardik,
.abhishek,
.divyam,
.nishant {
  width: 16vw;
  height: 14vw;
  border-radius: 50%;
  background-image: url(assets/images/sanchitBack.jpeg);
  background-size: cover;
  text-align: center;
  justify-content: center;
  display: flex;
  z-index: 3;
  box-shadow: 0px 10px 10px -3px rgb(0,0,0,0.25);
}

.anjali {
  background-image: url(./assets/images/anjaliFront.png);
}

.nayan {
  background-image: url(./assets/images/);
}

.raghav {
  background-image: url(./assets/images/raghavBack.jpeg);
}

.manish {
  background-image: url(./assets/images/);
}

.hardik {
  background-image: url(./assets/images/);
}

.abhishek {
  background-image: url(./assets/images/abhishekVid.jpeg);
}

.divyam {
  background-image: url(./assets/images/divyamBack.jpeg);
}

.nishant {
  background-image: url(./assets/images/);
}



.profile-info {
  height: 30%;
  width: 60%;
  margin-bottom: 1vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}

.profile-info p {
  margin-bottom: 0;
  font-weight: 100;
}

.profile-name {
  font-size: 1.9vw;
  margin: 10px auto 0;
  font-family: "Poppins", sans-serif;
  color: rgb(29, 29, 29);
  font-weight: 600;
  margin-bottom: 5%;
}

p {
  color: rgb(70, 70, 70);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  margin-top: 0;
}

/* <-------div left---------> */
.details {
  position: fixed;
  top: 27%;
  left: 10%;
  color: white;
  padding-right: 30px;
}

.headline {
  overflow: hidden;
}

.headline h1 {
  font-size: 74px;
  font-family: "Poppins";
  font-weight: 700;
  margin: 0;
  text-shadow: 0px 0px 20px rgba(34, 34, 34, 0.1);
  animation: byBottom 1s 1s ease both;
  animation-delay: 0s;
}

@keyframes byBottom {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0);
  }
}

.underline {
    width: 100%;
    position: absolute;
    height: 6px;
    animation: linkAfter 0.5s 1s ease both, colorChange2 27s infinite;
    transition: background-color 0.1s ease both;
}

@keyframes colorChange2 {
    0% {
        background-color: rgb(206, 7, 27);
    }
    60% {
        background-color: #e8cf30;
    }
    100% {
        background-color: rgb(206, 7, 27);
    }
}

@keyframes linkAfter {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.date p {
  padding: 10px 0px 10px 0;
  font-size: 22px;
  position: absolute;
  bottom: -75px;
  color: white;
  /* background-color: red; */
}

#date {
  left: 0px;
  animation: bySideRight 1s 2s ease both;
  animation-delay: 0s;
}

#day {
  animation: bySideLeft 1s 2s ease both;
  animation-delay: 0s;
}

@keyframes bySideRight {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bySideLeft {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* <-------MOBILE RESPONSE -------> */
@media screen and (max-width: 768px) and (min-width:0px) {

  body {
    background-color: #ffb100 !important;
  }

  #desktopbg {
    display: none;
  }

  #mobilebg {
    display: flex;
    width: 100vw;
    transform: scale(1.5);
    position: absolute;

  }

  .wrapper {
    flex-direction: column-reverse;
    height: 107vh;
    width: 100vw;
    overflow: hidden;
    background-image: url('assets/images/Frontzoomedwobg.png');
    background-repeat: no-repeat;
    background-size: 125vw;
    background-position: center top;
    top: -7vh;
  }

  .divright {
    padding-top: 35vw;
  }

  .screen {
    transform: translate(0%, 0%) perspective(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    /* background-color: red; */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: unset !important;
  }

  .card1 {
    height: 50vw;
    padding: 10px;
    background: rgb(237 237 237 / 97%);
  }

  .carousel-item {
    /* background-color: blue; */
    top: 5vh;
    height: 50vh;
    padding: 0;
    margin: 0;
  }

  .carousel-indicators,
  .carousel-control-next,
  .carousel-control-prev {
    display: none !important;
  }

  /* div-left */
  .details {
    /* background-color: red; */
    margin-top: 40vh;
    padding-right: 0;
    width: 80vw;
    text-align: center;
  }


  br {
    display: none;
  }

  .headline h1 {
    font-size: 2.25rem;
  }

  /* <-----profile details-----> */
  .profile-name {
    font-size: 5vw;
    margin: 10px 0;
  }

  p {
    font-size: 3vw;
  }

  .date p {
    width: 80vw;
  }

  .profile-image {
    height: 70px;
    background-image: url(/assets/images/profile-img.jpeg);
    width: 70px;
  }


  .sanchit,
  .anjali,
  .nayan,
  .raghav,
  .manish,
  .hardik,
  .abhishek,
  .divyam,
  .nishant {
    height: 30vw;
    width: 30vw;
  }





}
