.mobilewrapper {
    display: none;
}
.desktopwrapper {
    overflow: hidden;
}



body {
    margin: 0;
    width: 100vw;
    background-image: linear-gradient(147deg, #e8cf30 5%, #c94545 60%, #e8cf30 80%);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


body::-webkit-scrollbar {
    display: none;
}

#desktopBackground {
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;

}

#mobileBackground {
    position: fixed;
    display: none;
}

.display {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-image: transparent;
}

.screen {
    position: fixed;
    width: 40vw;
    height: 43vh;
    background-color: transparent;
    /* border: 2px solid rgb(0, 0, 0, 0.5); */
    /* border-radius: 10px; */
    left: 69%;
    top: 45%;
    /* transform: translate(-35%, -59%) rotateX(5deg) rotateY(25deg) skew(-1deg,-0deg); */
    transform: translate(-34.15%, -59%) perspective(1500px) rotateX(-7.5deg) rotateY(-15deg) rotateZ(0deg) skew(-2deg, 0deg);
    /*     transform: translate(-34.15%, -59%) perspective(788px) rotateX(2deg) rotateY(-10deg) rotateZ(3deg) skew(1deg, 0deg);
 */
    transform-style: preserve-3d;
    scroll-snap-align: center;
}

/* .screen:before,
.screen:after {
    content: "";
    width: 40vw;
    height: 4vh;
    position: absolute;
    transform: translateX(-2.5vw);
    background: #1b1a1b;
    transform-style: preserve-3d;
}

.screen:before {
    top: -4vh;
}

.screen:after {
    bottom: -4vh;
} */

/* .yellow,
.red,
.blue {
    position: absolute;
    height: inherit;
    width: 33.33%;
    background-color: #FDAE2C;
}

.red {
    background-color: #EE1924;
    left: 66.66%;
}

.blue {
    left: 33.33%;
    background-color: #75C3E6;
} */

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* section {
    min-width: 80%;
    height: 80%;
    border-radius: 1em;
    text-align: center;
    background: rgb(243,243,243);
    background: linear-gradient(to bottom, rgb(243, 243, 243,0.6),rgb(243, 243, 243,0.4));
    margin: 0 10%;
} */

/* section:first-child {
    margin: 0 20% 0 10%;
}

section:last-child {
    margin: 0 50% 0 10%;
} */

/* section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5%;
} */

.card1 {
    min-width: 80%;
    height: 20%;
    border-radius: 1em;
    text-align: center;
    background: rgb(243, 243, 243);
    background: linear-gradient(to bottom, rgb(243, 243, 243, 0.6), rgb(243, 243, 243, 0.4));
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5%;
    margin: 0 10%;
}

.carousel-indicators {
    margin: 0;
}

/* /////////////////////// Profile Card///////////////// */
.carousel-item {
    text-align: center;
    justify-content: center;
    height: 42vh;
    /* background-color: red; */
}

button {
    z-index: 100;
}

.card1 {
    position: relative;
    top: 3vh;
    height: 35vh;
    width: 80%;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* <------Glassmorphism------> */
    background: white;
    padding: 2%;
    padding-left: 4%;
    border-radius: 10px;


    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.profile-image {
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background-image: url(./images/profile-img.jpeg);
    background-size: cover;
    text-align: center;
    justify-content: center;
    display: flex;
}

.profile-info {
    height: 30%;
    width: 60%;
    margin-bottom: 1vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}

.profile-info p {
    margin-bottom: 0;
}

.profile-name {
    font-size: 1.8vw;
    margin: 10px auto 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(29, 29, 29);
    font-family: 'Proza libre';
    font-weight: 600;
    margin-bottom: 5%;
}

p {
    color: rgb(70, 70, 70);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    font-family: 'Proza libre';
}



/* ///////////////////LEFT DETAILS//////////////// */

.details {
    position: fixed;
    top: 27%;
    left: 10%;
    color: white;
    padding-right: 30px;
}

.headline {
    overflow: hidden;
}

.headline h1 {
    font-size: 74px;
    font-family: 'Poppins';
    font-weight: 700;
    margin: 0;
    text-shadow: 0px 0px 20px rgba(34, 34, 34, 0.1);
    animation: byBottom 1s 1s ease both;
    animation-delay: 4s;
}

@keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

.underline {
    width: 100%;
    position: absolute;
    height: 6px;
    animation: linkAfter 0.5s 1s ease both;
    transition: background-color 0.1s ease both;
    animation-delay: 6s;
}

@keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.date span {
    padding: 10px 20px 10px 0;
    font-size: 22px;
    position: absolute;
    bottom: -75px;
    /* background-color: red; */

}

#date {
    left: 0px;
    animation: bySideRight 1s 2s ease both;
    animation-delay: 7s;
}

#day {
    animation: bySideLeft 1s 2s ease both;
    animation-delay: 7s;

}

.border-line {
    height: 30px;
    left: 80px;
    border-right: 1px solid white;
    animation: toTop 1s 2s ease both;
    animation-delay: 7s;
}

/* .date span:first-child {
    border-right: 1px solid white;
} */
@keyframes toTop {
    0% {
        height: 0px;
        border-right: 0px solid white;
    }

    100% {
        height: 30px;
        border-right: 1px solid white;
    }
}

@keyframes bySideRight {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bySideLeft {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



/* <-------Response----------> */
@media screen and (max-width: 768px) and (min-width:0px) {

.mobilewrapper{
    display:flex;
}




}


/* /////////////////SCREEN ///////////// */

#screenMf {
    display: none;
}


/* <-----Scroll indicator-----> */
.mouse-container {
    width: 24px;
    height: 100px;
    position: fixed;
    bottom: -1.5em;
    opacity: 0.8;
    left: 50%;
    transform: translateX(-50%);
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    margin: 5px auto;
    background: white;
    height: 10px;
    width: 3px;
    border-radius: 35%;
    animation: wheelMove 1.5s ease-in-out infinite
}


@keyframes wheelMove {
    0% {
        transform: translateY(0);
    }

    90% {

        transform: translateY(20px);
    }

    100% {
        transform: translateY(5px);
    }
}

/* <-----Dandelion-----> */
.video {
    width: 80vw;
    height: 80vh;
    bottom: -140px;
    left: -250px;
    position: fixed;
    animation: disappear 2s 4s ease forwards;
    animation-delay: 10s;
}

video {
    width: 100%;
    height: 100%;
    transform: scale(0.6);
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}